.btn{
    background: #304FFD13 !important;
    border-radius: 10px !important;
    width: 34px !important;
    height: 34px !important;
    margin: 10px  !important;
}
.btnDis{
    background: #F8F8F8!important;
    border-radius: 10px !important;
    width: 34px !important;
    height: 34px !important;
    margin: 10px  !important;
}
