.filter{
    min-width: 95vw;
    /* position: relative; */
    display: flex;
    /* width: 100vw; */
    justify-content: space-between;
    padding: 1vh 1vw;
    border: 1px solid #E8E9EB;
    border-radius: 20px;
    align-items: center;
    button{
        color:#808080;
        height: 2vh;
        border: none;
        background: none;
    }
    
    &_searchbar{
        border: none !important;
        input{
            padding: 0.5vw 0.5vw;
            border: none !important;
        }

        // min-width: 95vw !important;
        display:  flex!important;
        justify-content: center !important;
    }
}


.MuiInput-input	{
    border: none !important;
}