@import "../shared/styles/utils.module.scss";

.homepage {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.banner {

  &_appArea{
    width: 100vw;
    &_list{
      width:100vw;
    }
    &_title{
      font-size: clamp(44px, 6vmax, 70px);
    }
  }
  z-index: 1;
  position: relative;

  &_small {
    @include font-stylized-lead-14-px;
  }
  &_primary {
    @include font-display-1-64-px;
  }
  &_secondary {
    @include font-display-2-56-px;
  }
  &_description {
    @include font-body-16-px;
    margin-top: get-vh(24px);
    &_link {
      text-decoration: underline;
      color: $color-primary-main ;
    }
  }
}

.actions {
  z-index: 1;
  position: relative;
  display: flex;
  margin-top: get-vh(10px);
  &_action {
    @include font-label-medium-label-12-px;
    align-self: center;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  &_action:hover {
    color: $color-primary-main;
  }

  &_action_special {
    @include font-label-large-label-14-px;
    margin-left: get-vw(48px);
    align-self: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
}

.appArea{
  &_list{
    text-align: -webkit-center;
  }
  padding-bottom: 50px;
  width: 80vw;
}


@media (max-width: 1024px) {
  .banner {
    top: 7vh;
  }
}

@media (max-width: 800px) {
  .actions {
    width: 100%;

    &_action,
    &_actions_special {
      width: 100%;
      text-align: center;
    }

    .btn_float {
      float: right;
      height:7vh;
      width:35vw;
    }
  }
  .banner{
    width: 90%;
    margin-left: 5%;
  }
  .banner {
    top: 4vh;

    &_small {
      font-size: 14px;
    }
    &_primary {
      font-size: 32px;
    }
    &_secondary {
      font-size: 26px;
    }
    &_description {
      font-size: 18px;
      margin-top: get-vh(24px);
    }
  }
}

@media (min-width: 800px) {
  .btnWrapper {
    width: 50%;
    margin: 0 auto;
  }
  .banner {
    top: 12vh;
    left: get-vw(175px);
    width: 50vw;
    min-width: 250px;

    &_description {
      text-align: justify;
    }

    &_small {
      @include font-stylized-lead-14-px;
    }
    &_primary {
      @include font-display-1-64-px;
    }
    &_secondary {
      @include font-display-2-56-px;
    }
    &_description {
      @include font-body-16-px;
      margin-top: get-vh(24px);
    }
  }
}
